/* -----------list------------------ */
ul {
    list-style: none;
    padding: 0;
    height: 500px;
    overflow: auto;
}
li {
  margin: 10px 0;
  margin: 10px 0;
  background: khaki;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}
.li-active {
    background-color: black;
}
.p-active {
    text-decoration: line-through;
    color: white;
}
.btn-active {
    text-decoration: none;
    background-color: aliceblue;
}
input{
    width: 100px;
}
/* ------------buttons------------- */
.add {
    background-color: cornflowerblue;
    border: none;
    font-family: cursive;
}
.add:hover {
    background-color: rgb(84, 137, 235);
}
.remove {
    background-color: rgba(233, 54, 54, 0.733);
    border: none;
    font-family: cursive;
}
.remove:hover {
    background-color: rgb(233, 54, 54);
}
/* -----container------- */
.container {
    margin: auto;
    padding: 20px;
    max-width: 500px;
    min-width: 300px;
    background-color:darkgray;
}
.form-control {
    margin-right: 20px;
}