/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset css*/

.todolist{
    padding-left: 50px;
    padding-top: 20px;
}
h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.todolist_ul{
    padding-top: 20px;
}
input{
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
}
button {
    /* Основні стилі кнопки */
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    
    transition: all 0.3s ease;
  }
  button:hover {
    background-color: #48acee82;
    color: rgb(122, 119, 119);
  }
.todolist_ul_li{
    display: none;
    align-items: center;
    width: 500px;
    justify-content: start;
    align-items: flex-start;
}
.todolist_ul_li p{
    font-size: 25px;
    margin-top: 10px;
}
.todolist_ul_li_circle{
    margin-right: 10px;
    margin-top: 12px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.todolist_ul_li_circle:hover{
    background-color: rgb(200, 216, 240);
}
.todolist_ul_li_clear{
    padding: 0px;
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-left: 10px;
}
